{{>_navbar}}
<div class="jumbotron d-flex align-items-center">
    <div class="container text-center">
        <img src="img/meetup1.png" width="560" height="280">
        <h3 class="display-5">Salvador</h3>
        <h5 class="display-5 mb-4">Nacional de Jovens 2019</h5>
    </div>
    <div class="rectangle-1"></div>
    <div class="rectangle-2"></div>
    <div class="rectangle-transparent-1"></div>
    <div class="rectangle-transparent-2"></div>
    <div class="circle-1"></div>
    <div class="circle-2"></div>
    <div class="circle-3"></div>
    <div class="triangle triangle-1">
        <img src="img/obj_triangle.png" alt="">
    </div>
    <div class="triangle triangle-2">
        <img src="img/obj_triangle.png" alt="">
    </div>
    <div class="triangle triangle-3">
        <img src="img/obj_triangle.png" alt="">
    </div>
    <div class="triangle triangle-4">
        <img src="img/obj_triangle.png" alt="">
    </div>
</div>

<section id="sobre" class="featurettes">

    <div class="container">
        <div class="section-content">
            
            <div class="row">
                
                
                <div class="col-md-12">
                         <div class="text-center">
                             <h1>Venha conhecer!</12>
                         </div>
                   
                    <div class="row align-items-center">
                         
                        <div class="col-md-4 offset-md-2 col-sm-6" data-aos="flip-left">
                            <img class="my-5" src="/img/pp.jpg" alt="">
                        </div>
                        <!--  col-md-4 col-md-offset-right-2 col-sm-6 -->
                        
                        <div class="col-md-4 offset-md-right-2 col-sm-6" data-aos="fade-left">
                            
                            <p>Diversão, novos amigos, velhos amigos, e muito aprendizado numa experiência fantástica de 1 dia, isso mesmo, apenas 1 dia por ano, está esperando o que? venha para o Meetup SSA</p>
                            <p>Não Perca essa chance! converse com seu bispo ou amigo da igreja mais próximo</p>
                            <div class="progress mb-3">
                                <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100"
                                    aria-valuemin="0" aria-valuemax="100">Aprendizado 100%</div>
                            </div>
                            <div class="progress mb-3">
                                <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90"
                                    aria-valuemin="0" aria-valuemax="100">Emoção 90%</div>
                            </div>
                            <div class="progress mb-3">
                                <div class="progress-bar" role="progressbar" style="width: 95%;" aria-valuenow="95"
                                    aria-valuemin="0" aria-valuemax="100">Diversão 95%</div>
                            </div>
                            <div class="progress mb-3">
                                <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100"
                                    aria-valuemin="0" aria-valuemax="100">Espiritualidade 100%</div>
                            </div>
                        </div>
                        <!--/ .col-md-4.col-md-offset-2.col-sm-6 -->

                    </div>
                    <!--/ .featurettes-item -->

                </div>
                <!--/ .col-md-12 -->

            </div>
            <!--/ .row -->
        </div>
    </div>
    <!--/ .container -->

    <!-- Portfolio Section -->
    <section id="fotos" class="bg-white">
        <div class="container">
            <div class="section-content">
                <!-- Section Title -->
                <div class="title-wrap">
                    <h2 class="section-title">Veja um pouco do ano anterior do <b>Meetup</b></h2>
                    <p class="section-sub-title">Algumas fotos do meetup 2018 sessão salvador.</p>
                </div>
                <!-- End of Section Title -->
                <div class="row">
                    <!-- Portfolio Holder -->
                    <div class="col-md-12 portfolio-holder mt-3">
                      
                        <!-- Portfolio Content -->
                        <div class="grid-portfolio">
                            <div class="grid-sizer"></div>
                            <div class="gutter-sizer"></div>
                            <!-- Portfolio Item -->
                            <div class="grid-item minimalism" data-aos="fade-up">
                                <div class="grid-item-wrapper">
                                    <img src="/img/meetup2018-1.jpg" alt="portfolio-img" class="portfolio-item">
                                    <div class="grid-info">
                                        <div class="grid-link d-flex justify-content-center">
                                            <a class="ext-link" href="/img/meetup2018-3.jpg" target="_blank">
                                                <span class="lnr lnr-link"></span>
                                            </a>
                                        </div>
                                        <div class="grid-title">
                                            <h4>1</h4>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!-- End of Portfolio Item -->
                            <!-- Portfolio Item -->
                            <div class="grid-item vintage" data-aos="fade-up">
                                <div class="grid-item-wrapper">
                                    <img src="/img/meetup2018-2.jpg" alt="portfolio-img" class="portfolio-item">
                                    <div class="grid-info">
                                        <div class="grid-link d-flex justify-content-center">
                                            <a class="ext-link" href="/img/meetup2018-2.jpg" target="_blank">
                                                <span class="lnr lnr-link"></span>
                                            </a>
                                        </div>
                                        <div class="grid-title">
                                            <h4>2</h4>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!-- End of Portfolio Item -->
                            <!-- Portfolio Item -->
                            <div class="grid-item creative grid-item-height" data-aos="fade-up">
                                <div class="grid-item-wrapper">
                                    <img src="/img/meetup2018-3.jpg" alt="portfolio-img" class="portfolio-item">
                                    <div class="grid-info">
                                        <div class="grid-link d-flex justify-content-center">
                                            <a class="ext-link" href="/img/meetup2018-3.jpg" target="_blank">
                                                <span class="lnr lnr-link"></span>
                                            </a>
                                        </div>
                                        <div class="grid-title">
                                            <h4>3</h4>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!-- End of Portfolio Item -->
                            <!-- Portfolio Item -->
                            <div class="grid-item creative" data-aos="fade-up">
                                <div class="grid-item-wrapper">
                                    <img src="/img/meetup2018-4.jpg" alt="portfolio-img" class="portfolio-item">
                                    <div class="grid-info">
                                        <div class="grid-link d-flex justify-content-center">
                                            <a class="ext-link" href="/img/meetup2018-4.jpg" target="_blank">
                                                <span class="lnr lnr-link"></span>
                                            </a>
                                        </div>
                                        <div class="grid-title">
                                            <h4>4</h4>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!-- End of Portfolio Item -->
                            <!-- Portfolio Item -->
                            <div class="grid-item vintage" data-aos="fade-up">
                                <div class="grid-item-wrapper">
                                    <img src="/img/meetup2018-5.jpg" alt="portfolio-img" class="portfolio-item">
                                    <div class="grid-info">
                                        <div class="grid-link d-flex justify-content-center">
                                            <a class="ext-link" href="/img/meetup2018-5.jpg" target="_blank">
                                                <span class="lnr lnr-link"></span>
                                            </a>
                                        </div>
                                        <div class="grid-title">
                                            <h4>5</h4>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!-- End of Portfolio Item -->
                            <!-- Portfolio Item -->
                            <div class="grid-item creative" data-aos="fade-up">
                                <div class="grid-item-wrapper">
                                    <img src="/img/meetup2018-6.jpg" alt="portfolio-img" class="portfolio-item">
                                    <div class="grid-info">
                                        <div class="grid-link d-flex justify-content-center">
                                            <a class="ext-link" href="/img/meetup2018-6.jpg" target="_blank">
                                                <span class="lnr lnr-link"></span>
                                            </a>
                                        </div>
                                        <div class="grid-title">
                                            <h4>6</h4>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!-- End of Portfolio Item -->
                        </div>
                        <!-- End of Portfolio Content -->
                    </div>
                    <!-- End of Portfolio Holder -->
                </div>
            </div>
        </div>
    </section>
    <!-- End of Portfolio Section -->
    <!-- Client Section -->
    <section id="client" class="overlay bg-fixed" style="background-image: url(img/bg.jpg);">
        <div class="container">
            <div class="section-content" data-aos="fade-up">
                <div class="row ">
                    <div class="col-md-12">
                        <!-- Section Title -->
                        <div class="title-wrap mb-5">
                            <h2>Junte-se a nós e espalhe <span> Alegria e Amor</span> conosco!</h2>
                        </div>
                        <!-- End of Section Title -->
                    </div>
                    <!-- Client Holder -->
                    <p>
                        Portanto, os homens são alivres segundo a carne; e todas as coisas de que necessitam lhes são dadas. 
                        E são livres para bescolher a liberdade e a cvida eterna por meio do grande Mediador de todos os homens,
                    </p>
                    </br>
                    <p>
                        Venha conhecer novos amigos e se aproximar ainda mais do seu grande amigo e salvador, Jesus Cristo!
                    </p>
                    <!-- End of Client Holder -->
                </div>
            </div>
        </div>
    </section>
    <!-- End of Client Section -->

    </div>
    <footer class="mastfoot my-3">
        <div class="inner container">
            <div class="row">
                <div class="col-lg-4 col-md-12 d-flex align-items-center">

                </div>
                <div class="col-lg-4 col-md-12 d-flex align-items-center">
                    <p class="mx-auto text-center mb-0">&copy; 2019 MeetUpSSA. Design by <a href="https://gettemplates.co"
                            target="_blank">GetTemplates</a>.</p>
                </div>

                <div class="col-lg-4 col-md-12">
                    <nav class="nav nav-mastfoot justify-content-center">
                        <a class="nav-link" href="https://www.facebook.com/instituto.s.norte" target="_blank">
                            <i class="fab fa-facebook-f"></i>
                        </a>

                        <a class="nav-link" href="https://www.instagram.com/aviaozinhomeetupssa/?hl=pt-br" target="_blank">
                            <img src="/img/icons/iheart.png" width="30px" height="30px"></img>
                        </a>

                        <a class="nav-link" href="https://www.instagram.com/institutossa/?hl=pt-br" target="_blank">
                            <i class="fab fa-instagram"></i>

                    </nav>
                </div>

            </div>
        </div>
    </footer> <!-- External JS -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
    <script src="vendor/bootstrap/popper.min.js"></script>
    <script src="vendor/bootstrap/bootstrap.min.js"></script>
    <script src="vendor/select2/select2.min.js "></script>
    <script src="vendor/owlcarousel/owl.carousel.min.js"></script>
    <script src="vendor/stellar/jquery.stellar.js" type="text/javascript" charset="utf-8"></script>
    <script src="vendor/isotope/isotope.min.js"></script>
    <script src="vendor/lightcase/lightcase.js"></script>
    <script src="vendor/waypoints/waypoint.min.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>

    <!-- Main JS -->
    <script src="js/app.min.js "></script>
    <script src="//localhost:35729/livereload.js"></script>